								<!-- Modal -->
								<div class="" id="info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								  <div class="modal-dialog" role="document">
									<div class="modal-content">
									  <div class="modal-header">
										
										<h4 class="modal-title" id="myModalLabel">用户信息</h4>
									  </div>
									  <form class="form-horizontal" action="{:U('update')}" method="post" id="testForm">
									  <input type="hidden" class="form-control" name="id" value="{$one.id}">
									  <div class="modal-body">
										  
										  <div class="form-group">
											<label for="name" class="col-sm-2 control-label">用户名</label>
											<div class="col-sm-4">
											  <input type="text" class="form-control" id="name" name="name" value="{$one.name}" required>
											</div>
											
											<label for="realname" class="col-sm-2 control-label">真实姓名</label>
											<div class="col-sm-4">
											  <input type="text" class="form-control" id="realname" name="realname"  value="{$one.realname}" required>
											</div>
										  </div>
										  
										  
										  <div class="form-group">
											<label for="pwd" class="col-sm-2 control-label">密码</label>
											<div class="col-sm-4">
											  <input type="password" class="form-control" id="pwd" name="password" value="{$one.password}"  required>
											</div>
											
											<label for="pwdCheck" class="col-sm-2 control-label">确认密码</label>
											<div class="col-sm-4">
											  <input type="password" class="form-control" id="pwdCheck" name="pwdCheck" value="{$one.password}"  required>
											</div>
										  </div>
										  
										 
										  
										  										  
										  <div class="form-group">
											<label for="sex" class="col-sm-2 control-label">性别</label>
											<div class="col-sm-4">

													<label class="radio-inline">
													  <input type="radio" name="sex" id="sex" value="男" <eq name="one.sex" value="男">checked</eq>> 男
													</label>
													
													<label class="radio-inline">
													  <input type="radio" name="sex" id="sex2" value="女" <eq name="one.sex" value="女">checked</eq>> 女
													</label>											
											</div>
											
											<label for="birth" class="col-sm-2 control-label">生日</label>
											<div class="col-sm-4">
											  <input type="text" class="form-control" id="birth" name="birth" title="请输入生日" value="{$one.birth}" >
											</div>
										  </div>
										  
										  <div class="form-group">
											<label for="academic" class="col-sm-2 control-label">学历</label>
											<div class="col-sm-4">
											  <select class="form-control" name="academic" required>
													<empty name="one.academic">
													<option value="">==请选择==</option>
													<else />
													<option value="{$one.academic}">{$one.academic}</option>
													</empty>
													<option value="高中">高中</option>
													<option value="大学">大学</option>
													<option value="硕士">硕士</option>
													<option value="博士">博士</option>
											  </select>
											</div>
											<label for="sfz" class="col-sm-2 control-label">身份证号</label>
											<div class="col-sm-4">
											  <input type="tel" class="form-control" id="sfz" name="sfz" title="请输入身份证号码" pattern="^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$" value="{$one.sfz}" >
											</div>
											
										  </div>
										  
										  <div class="form-group">
											
											
											<label for="tel" class="col-sm-2 control-label">爱好</label>
											<div class="col-sm-10" id="hobby">
											  <label class="checkbox-inline">
												  <input type="checkbox" id="checkbox" name="hobby[]" value="音乐" <eq name="hobby_checked[0]" value="1">checked</eq>> 音乐
												</label>
												<label class="checkbox-inline">
												  <input type="checkbox" id="inlineCheckbox2"  name="hobby[]" value="影视" <eq name="hobby_checked[1]" value="1">checked</eq>> 影视
												</label>
												<label class="checkbox-inline">
												  <input type="checkbox" id="inlineCheckbox3"  name="hobby[]" value="游戏" <eq name="hobby_checked[2]" value="1">checked</eq>> 游戏
												</label>
												<label class="checkbox-inline">
												  <input type="checkbox" id="inlineCheckbox3"  name="hobby[]" value="运动健身" <eq name="hobby_checked[3]" value="1">checked</eq>> 运动健身
												</label>
											</div>
										  </div>
										  
										  
																		  
										  <div class="form-group">
											
											
											<label for="email" class="col-sm-2 control-label">Email</label>
											<div class="col-sm-4">
											  <input type="email" class="form-control" id="email" name="email" title="请输入Email" value="{$one.email}" >
											</div>
											
											<label for="tel" class="col-sm-2 control-label">手机</label>
											<div class="col-sm-4">
											  <input type="tel" class="form-control" id="tel" name="tel" title="请输入手机号" value="{$one.tel}" >
											</div>
										  </div>
										  
										 
										  
										 										  
										   <div class="form-group">
											<label for="zipcode" class="col-sm-2 control-label">邮编</label>
											<div class="col-sm-4">
											  <input type="zipCode" class="form-control" id="zipcode" name="zipcode" title="请输入邮编" value="{$one.zipcode}" >
											</div>											
											
										  </div>
										  
										  <div class="form-group">
											   <label for="address" class="col-sm-2 control-label">住址</label>
											<div class="col-sm-10">
											  <input type="text" class="form-control" id="address" name="address" title="请输入住址" value="{$one.address}" >
											</div>
										  </div>
										  
										   <div class="form-group">
											<label for="url" class="col-sm-2 control-label">个人主页</label>
											<div class="col-sm-10">
											  <input type="url" class="form-control" id="url" name="url" title="请输入网址" value="{$one.url}" >
											</div>
										  </div>
										  <div class="form-group">
											<label for="intro" class="col-sm-2 control-label">个人简介</label>
											<div class="col-sm-10">
											  <textarea class="form-control" id="intro" name="intro" placeholder="个人简介">{$one.intro}</textarea>
											  
											</div>
										  </div>
										  
										  
										  
										
									  </div>
									  <div class="modal-footer">
										<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
										<button type="submit" class="btn btn-primary">提交</button>
									  </div>
									  
									  </form>
									</div>
								  </div>
								</div>