<include file="Public:header" />
<include file="Public:left" />

<h2>幻灯片维护</h2>

<form method="post" onsubmit="return confirm('您确定要删除吗？')" action="{:U('admin/slide/dels')}">
<table  class="table table-striped lists">
<tr>
	<td>选择</td>
	<td>id</td>
	<td>标题</td>
	<td>缩略图</td>
	<td>操作</td>
</tr>
<volist name="list" id="vo">
<tr>
  <td><input type="checkbox" name="id[]" value="{$vo.id}"/></td>
	<td>{$vo.id}</td>
  <td>{$vo.name}</td>
  <td>{$vo.thumb}</td>
  
  <td><a href="{:U('mod',array('id'=>$vo['id']))}">修改</a>
  <a href="javascript:if(confirm('确认删除?')) location='{:U('del',array('id'=>$vo['id']))}'">删除</a>
  
  <a href="{:U('form')}">添加</a>
  </td>
</tr>
</volist>
<tr><td colspan="7">
<input class="btn btn-default" id="selAll" type="button" value="全选" />

<input class="btn btn-default" id="unSelAll" type="button" value="全不选" />

<input class="btn btn-default" id="reverSel" type="button" value="反选" />
<input class="btn btn-default" id="doDel" type="submit" value="删除" />
</td></tr>
</table>
</form>

<include file="Public:footer" />

