		<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">            
            <li>
							<a href="#" data-target="#usersubmenu" data-toggle="collapse" class="accordion-toggle collapsed">
							用户管理</a>
							<ul style="padding-left:20px" class="nav collapse" id="usersubmenu">
								<li><a href="{:U('user/index')}">用户维护</a></li>
								<li><a href="{:U('user/form')}">新增用户</a></li>			
						  </ul>
			
						</li>
						
						<li>
							<a href="#" data-target="#newssubmenu" data-toggle="collapse" class="accordion-toggle collapsed">
							新闻管理</a>
							<ul style="padding-left:20px" class="nav collapse" id="newssubmenu">
								<li><a href="{:U('news/index','type=1')}">公司新闻</a></li>
								<li><a href="{:U('news/index','type=2')}">行业新闻</a></li>
								<li><a href="{:U('news/form')}">新增新闻</a></li>			
						  </ul>
			
						</li>
						
						<li>
							<a href="#" data-target="#catsubmenu" data-toggle="collapse" class="accordion-toggle collapsed">
							产品类别管理</a>
							<ul style="padding-left:20px" class="nav collapse" id="catsubmenu">
								<li><a href="{:U('admin/category/index',array('parentid'=>0))}">产品类别维护</a></li>
								<li><a href="{:U('admin/category/form')}">新增产品类别</a></li>			
						  </ul>
			
						</li>
						
						<li>
							<a href="#" data-target="#prodsubmenu" data-toggle="collapse" class="accordion-toggle collapsed">
							产品管理</a>
							<ul style="padding-left:20px" class="nav collapse" id="prodsubmenu">
								<volist name="Think.session.catlist" id="vos">
								<empty name="vos.subcat">
									<li><a href="{:U('admin/product/index',array('catid'=>$vos['catid']))}">{$vos.name}</a></li>
								</empty>
								<notempty name="vos.subcat">
									<li><a href="#" data-target="#prod{$vos.catid}" data-toggle="collapse" class="accordion-toggle collapsed">{$vos.name}</a>
									<ul style="padding-left:25px" class="nav collapse" id="prod{$vos.catid}">
										<volist name="vos.subcat" id="vo">
											<li><a href="{:U('admin/product/index',array('catid'=>$vo['id']))}">{$vo.name}</a></li>
										</volist>
									</ul>
									</li>
								</notempty>
								</volist>
									
						  </ul>
			
						</li>
            <li><a href="{:U('admin/index/mod')}">基本信息维护</a></li>
            
          </ul>
          
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">