
<hr>
<footer>
        <p>&copy; Company 2014</p>
		    <p><a href="#" data-toggle="modal" data-target="#admin" id="ladmin">管理入口</a></p>
			  <include file="Public:adminlogin" />
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__PUBLIC__/assets/js/jquery.min.js"></script>
<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/assets/js/jquery-ui.min.js"></script>
<script src="__PUBLIC__/assets/js/jquery.cookie.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="__PUBLIC__/assets/js/ie10-viewport-bug-workaround.js"></script>

<script src="__PUBLIC__/assets/js/offcanvas.js"></script>
<script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
</script>

<script src="__PUBLIC__/assets/js/jquery-html5Validate.js?v=14"></script>
<script>
$("#testForm").html5Validate(function() {
	//alert("全部通过！");
	this.submit();	
}, {
    validate: function() {
        // 下面这些就是额外的一些特殊验证
        if ($("#pwdCheck").val() !== $("#pwd").val()) {
            $("#pwdCheck").testRemind("前后密码不一致");			
            return false;  
        } else if ($("#hobby :checked").length == 0) {
            $("#hobby").testRemind("至少选择1项");
            return false;  
        }
		
       return true;  
    }
});
// 拖选
var mousedownleft, btnmarginleft, flagFollow = false;
$(".bar_btn").bind({
	"mousedown": function(e) {
		mousedownleft = e.pageX;
		btnmarginleft = parseInt($(this).css("marginLeft")) || 0;
		flagFollow = $(this);
	}	
});
$(document).bind({
	"mousemove": function(e) {
		var nowmouseleft = e.pageX, finalposleft = nowmouseleft - mousedownleft + btnmarginleft;
		if (flagFollow) {
			if (finalposleft > 190) {
				finalposleft = 190;
			} else if (finalposleft < -10) {
				finalposleft = -10;
			}
			var score = Math.round((finalposleft + 10) / 40);
			flagFollow.css("marginLeft", finalposleft).attr("data-content", score);
			$("#" + flagFollow.attr("data-rel")).val(score);
		}
	},
	"mouseup": function() {
		flagFollow = false;
	}
});
</script>
<script type="text/javascript">  
$(document).ready(function(){  
    $("#birth").datepicker({  
        /* 区域化周名为中文 */  
        dayNamesMin : ["日", "一", "二", "三", "四", "五", "六"],    
        /* 每周从周一开始 */  
        firstDay : 1,  
        /* 区域化月名为中文习惯 */  
        monthNames : ["1月", "2月", "3月", "4月", "5月", "6月",  
                    "7月", "8月", "9月", "10月", "11月", "12月"],  
        /* 月份显示在年后面 */  
        showMonthAfterYear : true,  
        /* 年份后缀字符 */  
        yearSuffix : "年",  
        /* 格式化中文日期  
        （因为月份中已经包含“月”字，所以这里省略） */  
        dateFormat : "yy年MMdd日"     
    });   
});  
</script>  
<script>
    $(function(){
		//Cookie操作
		if($.cookie('username')&&$.cookie('password')){
			//如果cookie非空，将值赋给用户名和密码的表单
			$("#username").val($.cookie('username'));
			$("#password").val($.cookie('password'));			
		}
		/*根据$re值判断是否因为登录失败返回，如果是弹出登录模态框*/
		if({$re}==1){
		//$re==1代表因为输错账号或密码返回，自动打开模态框
        $('#admin').modal({
        show:true,
        backdrop:true
        });	
		
		}
		else{
		//正常打开管理入口
		$("#ladmin").click(function(){
		    //管理入口链接的点击事件
			if($.cookie('username')&&$.cookie('password')){
			//如果cookie非空，直接提交表单
			$("#adminlogin").submit();
			}
		});		
		}		
    });
</script>
</body>
</html>
