<include file="Public:header" />
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">


            <div class="row text-center">
               
							<div class="col-xs-12 col-lg-12 mlist">
                    <h2>{$cat['name']}</h2>
                    <ul class="list-inline row text-center">
											<volist name="list" id="vo">
                        <li class="col-xs-4 col-lg-2">
                            <img src="__ROOT__/Uploads/{$vo.productthumb}" class="responsive img-thumbnail"/>

                            <p><a href="{:U('home/show/index',array('id'=>$vo['id']))}">{$vo.name}</a>
                            </p>
                        </li>
											</volist>
                        

                    </ul>
                    {$page}
                </div>
                <!--/.col-xs-6.col-lg-4-->
				
							

            </div>
            <!--/row-->
        </div>
        <!--/.col-xs-12.col-sm-9-->
				<include file="Public:siderbar" />
        
    </div>
    <!--/row-->
	</div>
<!--/.container-->
<include file="Public:footer" />
   