<include file="Public:header" />
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">


            <div class="row">
               
							<div class="col-xs-12 col-lg-12 mlist">
                    <h2><eq name="type" value="1">公司新闻</eq><eq name="type" value="2">行业新闻</eq></h2>
                    <ul class="list-group">
											<volist name="list" id="vo">
                        <li class="list-group-item row">
                            <a href="{:U('home/show/news',array('id'=>$vo['id']))}" class="col-sm-8">{$vo.name}</a>
										  <span class="col-sm-4">{$vo.insert_time}</span>
                           
                        </li>
											</volist>
                        

                    </ul>
                    {$page}
                </div>
                <!--/.col-xs-6.col-lg-4-->
				
							

            </div>
            <!--/row-->
        </div>
        <!--/.col-xs-12.col-sm-9-->
				<include file="Public:siderbar" />
        
    </div>
    <!--/row-->
	</div>
<!--/.container-->
<include file="Public:footer" />
   